html {
    background-color: rgb(9, 95, 84)
}
.css-selector {
    font-family: 'Oxygen', sans-serif;
}

#wrapper {
    width: 70%;
    margin-left: auto;
    float: left;
}

.h1 {
    font-family: 'Arima Maduri';
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: 40px;
}

.h2 {
    color: rgb(46, 5, 46)
}

.bold {
    font-style: bold;
}

.italic {font-style: italic;
}
